# Config file
#
# Lines starting with # are comments.

listening port = 55001
listening hostname = localhost

kernel server = localhost
kernel port = 55000

database server = localhost
database port = 
database name = asplfact
database user = af_customer
database password = changeme

log file = /tmp/af_customer.log
log active = yes

afkey expiration = 60

# The file must end with a new line
